* {
    font-family: Arial, sans-serif;
    cursor: url('./res/img/cursor.png'), auto;
}

body {
    margin: 0;
    overflow: hidden;
}

canvas {
    background-color: black;
}

h1, p, a {
    margin: 0;
}

p, a {
    margin-bottom: 1rem;
}

h1 {
    font-size: 300%;
    font-weight: bold;
    line-height: 1;
}

a {
    color: gray;
}

button {
    font-size: large;
    background-color: rgb(59 130 246);
    width: 100%;
    padding: 0.75rem 10px;
    color: white;
    border-radius: 10px;

}

.label {
    font-size: 75%;
    color: gray;
}

*,
::before,
::after {
    border-width: 0;
    border-style: solid;
}

.scoreboard {
    user-select: none;
    margin-left: 10px;
    margin-top: 5px;
    position: fixed;
    color: white;
}

.float {
    user-select: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    background-color: white;
    max-width: 28rem;
    padding: 6%;
    width: 100%;
    text-align: center;
    border-radius: 10px;
}
